<li class='list'>
  <%= link_to "#" do %>
    <div class='item-img-content'>
      <%= image_tag item.image, class: "item-img" %>

      <%# 商品が売れていればsold outを表示しましょう %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <%# //商品が売れていればsold outを表示しましょう %>

    </div>
    <div class='item-info'>
      <h3 class='item-name'>
        <%= item.name %>
      </h3>
      <div class='item-price'>
        <span><%= item.price %>円<br>
        <% case item.shipping_cost_id %>
          <% when 2 %>
            着払い(購入者負担)
          <% when 3 %>
            送料込み(出品者負担)
        <% end %>
        </span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
  <% end %>
</li>
